{
    # Pick the Bayes algorithm:
    "algorithm": "bayes",
    # Declare what to optimize, and how:
    "spec": {
        "metric": "loss",
        "objective": "minimize",
    },
    # Declare your hyperparameters:
    "parameters": {
        "num_layers": {"type": "integer", "min": 1, "max": 20},
        "kernel_size": {"type": "discrete", "min},
        "sequence_length": {"type": "integer", "min": 36, "max": 500},
        "learning_rate": {"type": "float", "min": 5e-20, "max": 1e-3},
    },
    "trials": 30,
}
